**/*.log
**/*.tar.*
/*bootstrap/
/chroot/
**/.DS_Store
/.vscode/
/stash
/sources
**/arm64*
**/amd64*
**/aarch64*
**/x86_64*
/alpine-ctng
/linux_bash
bash
/macos_toybox
toybox_macos_universal
/lfs/sources
/lfs/sdk
/lfs/toolchain
/lfs/tools
/lfs/lfs*
# macos
**/.DS_STORE
